:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
--light-blue: #3684fe;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    overflow: hidden;
}
.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div__container {
    max-width: 320px;
    height: 500px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 2px 23px 4px rgba(0,0,0,0.08);
}
.qr__container {
    width: 100%;
    height: 60%;
}
.qr__container .img__container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}
.texts__container {
    text-align: center;
}
.texts__container h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1.6rem;
    padding: 0.7rem;
    color: var(--dark-blue);
}
.texts__container p {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding: 0.5rem;
    color: var(--grayish-blue);
}
.attribution {
    padding: 0.3rem;
}
.attribution a {
    text-decoration: none;
    color: var(--grayish-blue);
}